{% extends 'projects/base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <h1>All Projects</h1>

    {% for project in projects %}
    <div class="card" style="width: 18rem; padding: 20px; display: inline-block;">
        <img class="card-img-top" style="height: 150px; width: auto" src="{% static project.image %}"
            alt="Project image" />
        <div class="card-body">
            <h5>{{project.title}}</h5>
            <p>{{project.description}}</p>
            <p>Technology: {{project.technology}}</p>
            <a href="{% url 'projects:project_detail' project.pk %}" class="btn btn-primary">Project detail</a>
        </div>
    </div>
    {% endfor %}

</div>
{% endblock %}