{% extends 'projects/base.html' %}
{% load static %}

{% block title %}Project {{project.pk}} {% endblock %}

{% block content %}
<div class="container">
    <h1>Project Detail Page</h1>
    <img class="card-img-top" style="height: 450px; width: auto" src="{% static project.image %}" alt="Project image" />
    <h5>{{ project.title }}</h5>
    <p>{{ project.description }}</p>
    <p>Technology: {{ project.technology }}</p>
    <a href="{% url 'projects:all_projects' %}" class="btn btn-primary">Go Back</a>
</div>
{% endblock %}